:root {
    --color-focus: #4fdbb8;
    --colorback:#1d1d1d;
    --margin-left: 135px;
  }
/* componente SectiionTable */
.app{
    background-color: var(--colorback);
    /* border: 2px solid red; */
    margin-left: var(--margin-left);
    padding-top: 8%;
}



/* componente Cards */

.card{
    /* border: 1px solid yellow; */
    background-color: var(--colorback);
    color: #fff;
    box-shadow: 1px 1px 4px black;
    margin: 0 2% 4% 0;
}
.buttomCard{
    background-color: var(--color-focus);
    border: none;
}